<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>

    <title>Trello</title>
    <!--link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}" /-->
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" />
    <!--script src="../static/js/main.js" th:src="@{/js/main.js}"></script-->

</head>

<body>
<!--div class="next">next</div-->
<div id="surface">
    <div id="header">
        <a class="header-logo" href="board">
            <span class="header-logo-default"></span>
        </a>
    </div>
    <div id="content" style="background-color: white;">
        <div class="member-board-view">
            <div class="boards-page-board-section">
                <div class="boards-page-board-section-header">
                    <h3 class="boards-page-board-section-header-name">Personal Boards</h3>
                </div>
                <ul class="boards-page-board-section-list">
                    <li class="boards-page-board-section-list-item">
                        <a class="board-tile" href="trello">
                            <span class="board-tile-fade"></span>
                            <span class="board-tile-detail">
                                <span class="board-tile-details-name">Trello</span>
                            </span>
                        </a>
                    </li>
                    <li class="boards-page-board-section-list-item">
                        <a class="board-tile" href="naver">
                            <span class="board-tile-fade"></span>
                            <span class="board-tile-detail">
                                <span class="board-tile-details-name">Naver</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</div>

<div class="window-overlay">
    <div class="window">
        <a class="focus-dummy" href="#"></a>
        <div class="window-wrapper"></div>
    </div>
</div>


<script type="boardTemplate" id="boardTemplate">
    <div class="member-board-view">
        <div class="boards-page-board-section">
            <div class="boards-page-board-section-header">
                <h3 class="boards-page-board-section-header-name">Personal Boards</h3>
            </div>
            <ul class="boards-page-board-section-list">
            </ul>
        </div>
    </div>
</script>

<script type="tileTemplate" id="tileTemplate">
    <li class="boards-page-board-section-list-item">
        <a class="board-tile" href="#">
            <span class="board-tile-fade"></span>
            <span class="board-tile-detail">
                <span class="board-tile-details-name">{{board-title}}</span>
            </span>
        </a>
    </li>
</script>

</body>
</html>